.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 250px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.product-image {
    align-self: center;
    max-width: 50%;
    max-height: 150px;
    margin-top: 1em;
    border-radius: 1em;
    object-fit: cover;
}

@media (max-width: 600px) {
    .product-card {
        width: 100%;
        height: auto;
    }
}
